@import 'global-styles';

hr {
  margin: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form__h2 {
  color: map-get($colors, faded-text);
}

.form__form {
  display: flex;
  gap: 3rem;
}

.form__input,
.form__options,
.form__button {
  padding: 0.8rem;
  border-radius: 0.3rem;
  border: 1px solid map-get($colors, faded-text);
}

.form__input {
  width: 15rem;
}

.form__input--title {
  width: 42rem;
}

.form__button {
  background-color: map-get($colors, primary-blue);
  color: map-get($colors, primary-white);
  width: 24%;
}

.form__button:hover {
  cursor: pointer;
  background-color: map-get($colors, primary-white);
  color: map-get($colors, primary-blue);
  border: 1px solid map-get($colors, primary-blue);
}
