@import 'global-styles';

.home {
  min-height: 50rem;
}

.books-wapper {
  background-color: map-get($colors, secondary-background);
  min-height: 10rem;
}

.categories {
  text-align: center;
  font-size: 2rem;
}
